{% extends 'layout.html' %}

{% block title %}JavaScript Game{% endblock %}

{% block body %}

    <div class="container">
        <h1>Game</h1>
        <div class="game-box">
            <div class="timer">TIME LEFT</div>
            <div class="stats">Use all buttons to get x > 9</div>
            <div class="user-details">USER@USER.COM</div>
            <div class="score"><span>1</span></div>
            <div class="box left-top disabled">+50left-top</div>
            <div class="box right-top disabled">* 4right-top</div>
            <div class="box left-bottom">left-bottom</div>
            <div class="box right-bottom">right-bottom</div>
        </div>
    </div>
{% endblock %}